@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    background:  linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(80,80,98,1) 0%, rgba(129,168,176,1) 100%);
    color: #333;
    line-height: 1.6;
    
}