.weather-container{
    background-color: rgba(240, 255, 255, 0.397);
    border-radius: 15px;
    padding: 20px;
    margin: 25px 0;
}
h2{
    font-size: 3rem;
}
.weather-info{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        width: 3rem;
        
    }
}
.weather-temp{
    font-weight: bold;
    font-size: 2.5rem;
}
.weather-description{
    text-transform: capitalize;
    font-size: 1.4rem;
    margin-bottom: 10px
}
.weather-details{
    display: flex;
    justify-content:space-around ;
    margin: 0 auto;
    width: 95%;
    
    p{
     margin-left:-4rem ;   
    }
}